<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cse480.alzand"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="7" />

    <uses-permission android:name="android.permission.INTERNET" />

    <android:uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        <activity
            android:name=".LoginPage"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UserActivity"
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".CreateUser"
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".ForgotPassword"
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".AddActivity"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity android:name=".Picture"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
    </application>

</manifest>
